.MERKY_CONTAINER{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}



@media (max-width:500px) {
    img{
        width: 150px;
        height: 150px;
    }

    .MERKY_CONTAINER{
        display: flex;
        flex-direction: column;
        padding: 0px 0px 20px 0px
        
    }

    ul{
        padding: 0px 0px 0px 20px;
    }
}