.MAIN_CONTAINER{
    flex-grow: 1;
}   

.TITLE{
    text-align: center;
    padding: 15px 0px;
    font-weight: 600;
    font-size: 28px;
}

.CONTENT{
    display: flex;
    justify-content: center;
}